[user]
	email = tyep@stanford.edu
	name = Tyler Yep
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	default = simple
[pull]
	rebase = true
