[user]
	name = Tyler Yep
	email = tyep@cs.stanford.edu
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[branch]
	autosetupmerge = always
	autosetuprebase = always
[diff]
	colorMoved = zebra
[feature]
	manyFiles = 1
[fetch]
	prune = true
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	autosquash = true